/* Generell */

* {
    margin: 0;
    padding: 0;
}

body::-webkit-scrollbar {
    width: 12px;
}

body::-webkit-scrollbar-track {
    background: rgb(32, 28, 41);
}

body::-webkit-scrollbar-thumb {
    background: repeating-linear-gradient(45deg, rgb(0, 136, 169), rgb(0, 136, 169) 10px, rgb(1, 102, 128) 10px, rgb(1, 102, 128) 20px);
    border-radius: 6px;
}

#m_header {
    grid-area: he;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(16, 14, 23);
}

#m_header img {
    border: 0;
}

#header_text {
    font-size: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(0, 136, 169);
}

#m_na {
    grid-area: na;
    background: rgb(32, 28, 41);
    display: flex;
    align-items: center;
}

#home_logo {
    margin: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(0, 136, 169);
    text-shadow: 2px 0 rgb(1, 102, 128);
}

#site_ul {
    display: flex;
    list-style-type: none;
}

#site_ul li {
    margin: 15px;
}

#site_ul li a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 20px;
}

#site_ul li a:hover {
    color: rgb(0, 136, 169);
}

#se01 {
    grid-area: s1;
    background: rgb(16, 14, 23);
}

main {
    background: rgb(16, 14, 23);
}

.m_ar {
    margin: 10px;
    padding: 10px;
    background: rgb(32, 28, 41);
    border: 1px solid #312d3c;
    border-radius: 8px;
}

#ar01 {
    grid-area: a1;
}

#ar02 {
    grid-area: a2;
}

#ar03 {
    grid-area: a3;
}

.m_ar img {
    height: 200px;
    width: 200px;
    margin: 5px;
    border-radius: 100px;
    shape-outside: circle();
    float: left;
}

.m_ar h1 {
    color: rgb(0, 136, 169);
}

.m_ar p {
    color: rgb(255, 255, 255);
}


aside {
    grid-area: as;
}

footer {
    grid-area: fo;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background: rgb(16, 14, 23);
}

.small_na {
    height: 275px;
    width: 225px;
    color: rgb(255, 255, 255);
    border-top: 4px solid rgb(32, 28, 41);
    border-radius: 2px;
}

.footer_ul {
    display: flex;
    align-items: center;
    flex-direction: column;
    list-style-type: none;
}

.footer_h1 {
    color: rgb(0, 136, 169);
    font-size: 35px;
}

.footer_ul li a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    margin: 5px;
    font-size: 15px;
}

.footer_ul li a:hover {
    color: rgb(0, 136, 169);
}

#home_logo a {
    text-decoration: none;
    color: rgb(0, 136, 169);
}

img {
    color: rgb(255, 255, 255);
}

/* Index */

#site_wrapper {
    height: 100vh;
    width: 100vw;
    max-width: 100%;
    display: grid;
    grid-template-rows: 150px 50px 400px 900px 300px;
    grid-template-columns: 4fr 1fr;
    grid-template-areas: "he he" "na na" "s1 s1" "ma as" "fo fo";
}

#site_wrapper aside {
    display: grid;
    padding: 10px 10px 10px 0;
    background: rgb(16, 14, 23);
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    grid-template-areas: "as_ar";
}

#site_wrapper aside .m_ar {
    grid-area: as_ar;
    margin-left: 0;
}

#index_main {
    grid-area: ma;
    padding: 10px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: "a1" "a2" "a3";
}

/* Manuella bildspelet på index sidan */

#manuellt_bildspel {
    height: 400px;
    width: 711px;
    overflow: hidden;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
/* "Försökte först med flex men lyckades inte få den center, använde istället transform" */

#bildspel_nav {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}

.b_label {
    height: 10px;
    width: 50px;
    border: 2px solid rgb(255, 255, 255);
    margin: 6px;
    cursor: pointer;
    transition: 0.5s;
}

.b_label:hover {
    background: rgb(0, 136, 169);
    border-color: rgb(0, 136, 169);
}

input[name="r"] {
    position: absolute;
    visibility: hidden;
}

#bildspel_bilder {
    height: 100%;
    width: 500%;
    display: flex;
}

.slide {
    width: 20%;
    transition: 0.7s;
}

.slide img {
    height: 100%;
    width: 100%;
}

#r01:checked ~ #slide_01 {
    margin-left: 0;
}

#r02:checked ~ #slide_01 {
    margin-left: -20%;
}

#r03:checked ~ #slide_01 {
    margin-left: -40%;
}

#r04:checked ~ #slide_01 {
    margin-left: -60%;
}

#r05:checked ~ #slide_01 {
    margin-left: -80%;
}

/* Contact */

#contact_site_wrapper {
    height: 100vh;
    width: 100vw;
    max-width: 100%;
    display: grid;
    grid-template-rows: 50px 1fr;
    grid-template-areas: "na" "mn";
}

#contact_main {
    grid-area: mn;
    padding-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#large_sec {
    height: 500px;
    width: 900px;
    display: grid;
    grid-template-columns: 3fr 5fr;
    grid-template-areas: "se01 se02";
}

#small_sec01 {
    grid-area: se01;
}

#small_sec02 {
    grid-area: se02;
}

#small_sec01 ul {
    height: 100%;
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}

#small_sec01 .m_ar p {
    margin-left: 10px;
}

#contact_sec02_h1 {
    font-size: 25px;
}

#small_sec02 form {
    display: flex;
    flex-direction: column;
}

#small_sec02 form input {
    margin-bottom: 10px;
    border-radius: 5px;
    padding: 5px;
}

#message_textarea01 {
    margin-bottom: 10px;
    border-radius: 5px;
    padding: 5px;
}

#small_sec02 form button {
    border-radius: 5px;
    padding: 5px;
    color: rgba(255, 255, 255, 1);
    background: rgba(0, 136, 169, 1);
    border: 0px;
}

#small_sec02 form button:hover {
    color: rgba(255, 255, 255, 0.5);
    background: rgba(0, 136, 169, 0.5);
}

/* Menu */

#menu_site_wrapper {
    height: 100vh;
    width: 100vw;
    max-width: 100%;
    display: grid;
    grid-template-rows: 50px 1fr 300px;
    grid-template-areas: "na" "ma" "fo";
}

#menu_main {
    grid-area: ma;
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

#menu_main .m_ar {
    height: 350px;
    width: 200px;
}